/* ========================================== Part of Navigation (NAV) ================================*/

*{
   font-family:'roboto',sans-serif;	
 }
body{
	  margin:0%;
	  padding:0%;
	  background-color:#e8edf2;
    } 
nav{
	 display:flex;
	 justify-content:space-between;
	 background-color:rgb(2,2,26);
	 color:white;

   }	
nav ul{
	   display:flex;
	   align-items:center;

      }   
ul li{
	   list-style:none;
     }  
ul li a{
	     text-decoration:none;
		 margin-inline:10px;
		 color:white;
		 font-size:18px;
		 margin-right:50px;
       }
ul li a:hover, ul li .active{
	           color:rgb(5,250,5);
			   border-bottom:2px solid white;
             }	 		 
.logo{
	   margin-left:60px;
	   font-size:18px;
     }	
/*============================================================= Part of registration form ========================================== */
h2{
	margin-left:60px;
}
.main{
	margin-top:30px;
	display:flex;
	justify-content:center;
}
input{
	padding:6px;
}
::placeholder{
	padding:5px;
}
select{
	padding:6px;
}
#reset{
	width:20%;
	cursor:pointer;
	font-size:18px;
	background-color:rgb(2,2,26);
	color:white;
	
}
#submit{
	width:20%;
	cursor:pointer;
	font-size:18px;
	background-color:rgb(2,2,26);
	color:white;
}
input#submit:hover{
	background-color:rgb(31,30,27);
	border:2px solid rgb(14,207,46);
}
input#reset:hover{
	background-color:rgb(31,30,27);
	border:2px solid rgb(233,15,15);
}
.button{
	text-align:center;
	margin-top:30px;
}
.message{
	margin-top:30px;
}
.message1{
	border: 1px solid red;
	}


