/* =============================================== Part of navigation meanu ==================================== */
*{
   font-family:'roboto',sans-serif;	
 }
body{
	  margin:0%;
	  padding:0%;
	  background-color:#E8EDF2;
    } 
nav{
	 display:flex;
	 justify-content:space-between;
	 background-color:rgb(2,2,26);
	 color: white;

   }	
nav ul{
	   display:flex;
	   align-items:center;

      }   
ul li{
	   list-style:none;
     }  
ul li a{
	     text-decoration:none;
		 margin-inline:10px;
		 color:white;
		 font-size:18px;
		 margin-right:50px;
       }
ul li a:hover, ul li .active{
	           color:rgb(5,250,5);
			   border-bottom:2px solid white;
             }	 		 
.logo{
	   margin-left:60px;
	   font-size:18px;
     }	

/* =============================== Part of image (laptop image) ================================*/
	 
.laptop_image{
	           width:100%;
	           height:40%;
		   opacity:0.5;
             }
.banner_image{
	           position:relative;
	           text-align:center;
               box-shadow: 0 0 20px 2px rgba(0,0,0.1);
			   border-style:dassed/*dotted/*ridge*/;
			   border-radius:200px 0px 200px 0px;
             }
.center_text{
	          position:absolute;
	          font-size: 17px;
	          top:50%;
	          left:50%;
	          transform:translate(-50%,-50%);
            }
.typing{
	color:rgb(37,60,178);
	border-right:.15rem solid orange;
	font-size:17px;
	width:0;
	white-space:nowrap;
	overflow:hidden;
	animation: typing 10s steps(30,end) infinite forwards;
}
@keyframes typing{
	0%{
		width: 0;
	}
  10%{
		width:100%;
	}
}

/*=========================================================== Part of logo =================================================*/

.Website_logo{
	display:flex;
	justify-content:center;
}
.web_logo{
	height:250px;
	width:260px;
	border-radius:200%;
}

/* ======================================================= Part of Our Mission ============================================== */	

.welcome{
	font-size:28px;
	text-align:center;
}	
.message{
	margin-left:50px;
	margin-right:50px;
}

/* ======================================================== Part of our course ================================================ */

.course_container{
	width:100% auto;
	display:flex;
	justify-content:center;
	margin-left:60px;
	margin-right:60px;
	background-color:#d2b4de;
}
.image_box{
	width:210px;
	height:200px;
	margin:10px;
	padding:10px;
	margin-inline:20px;
	box-shadow:0 0 20px 2px rgba(0,0,0.1);
	background-color:rgb(2,2,26);
	border-radius:20px;
	transition:1s;
	font-size:20px;
}
img{
	border-radius:20px;
}
.image_box:hover{
	transform:scale(1.2);
	z-index:1;
}
a{
	text-decoration:none;
	color:cyan;
}

/* ===================================================== Part of E-book ============================================ */

.book_container{
	margin-left:60px;
	margin-right:60px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.e_book_button{
	margin-inline:25px;
	padding:12px;
	margin:12px;
	cursor:pointer;
	font-size:20px;
	background-color:rgb(2,2,26);
	color:white;
	border-radius:20px;
}

/* ======================================================== Part of footer section ======================================= */

.footer_container{
	width:100% auto;
	margin-top:30px;
	justify-content:space-evenly;
	display:flex;
	background-color:/*rgb(2,2,26)*/ #d4e6f1;
	color:black;
}
.footer_scetion{
	mmargin:15px;
	width:100% auto;
	margin-inline:20px;
}
.footer_logo{
	height:120px;
	width:140px;
	border-radius:200%;
	margin-top:50px;

}
.divider{
	width:100px;
	height:3px;
	display:inline-block;
	background-color:orange;
}
.i{
	display:flex;
	align-items:center;
	margin:2px;
	padding:2px;
	height:15%;
}
h5{
	font-size:15px;
}
.fa-brands{
	font-size:30px;
	margin-inline:5px;
	
}
.devloper_name{
	margin-top:-35px;
	text-align:center;
	color:gray;
	padding:15px;
	background-color:#e8edf2;
}
.icon{
	margin:5px;
	padding:5px;
}
/* side nav bar */

body {
 font-family: "Lato", sans-serif;
}
.sidenav {

 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #111;
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 60px;
}
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}
.sidenav a:hover {
 color: #f1f1f1;
}
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
.line{
	margin-top:20px;
}










