*{
	margin:0px;
	padding:0px;
}
/*=============================== Part of close =========================================*/
.main_close{
	align-items:center;
	justify-content:space-between;
	text-align:right;
	font-size:40px;
	display:flex;
}
a{
	color:white;
	background-color:red;
}
.close1{
	margin-left:60px;
	font-size:20px;
	color:gray;
}
.close{
	cursor:pointer;
	color:red;
	border:1px solid black;
	margin-right:65px;
	margin-left:60px;
}
/*============================== Part of marquee tag =====================================*/
marquee{
	cursor:pointer;
	HEIGHT:30PX;
	font-size:25px;
}
/*============================== Part of div tag =========================================*/
.container{
	width:100% auto;
	margin-left:60px;
	margin-right:60px;
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:start-end;
}
p{
	margin-inline:30px;
	color:white;
}
i{
	margin-inline:3.5px;
}
.a{
	background-color:green;
}
BUTTON:hover{
	color:black;
}
BUTTON{
	color:white;
	background-color:green;
	border:1px solid white;
	width:100% auto;
	cursor:pointer;
	font-size:19px;
	margin-top:8px;
	margin-inline:30px;
}
img{
	margin:3px;
	padding:3px;
	height:211px;

}
.book{
	align-items:center;
	background-color:green;
	margin:0px;
	padding:0px;
	display:flex;
	flex-wrap:wrap;
	border:7px solid white;
	height:211px;
}
