*{
	margin:0px;
	padding:0px;
}
/*============================== Part of marquee tag =====================================*/
marquee{
	cursor:pointer;
}
/*============================== Part of div tag =========================================*/
.container{
	margin-left:60px;
	margin-right:60px;
	margin-top:20px;
	border:1px solid red;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
p{
	margin-inline:20px;
}
img{
	height:211px;
	border:1px solid red;
}
.book{
	margin-inline:20px;
	align-items:center;
	background-color:green;
	margin:0px;
	padding:0px;
	display:flex;
	flex-wrap:wrap;
	border:1px solid red;
	height:211px;
}
