*{
	margin:0px;
	padding:0px;
}
/*============================== Part of marquee tag =====================================*/
marquee{
	cursor:pointer;
}
/*============================== Part of div tag =========================================*/
.container{
	width:100% auto;
	margin-left:60px;
	margin-right:60px;
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
p{
	margin-inline:20px;
}
img{
	margin:3px;
	padding:3px;
	height:211px;

}
.book{
	align-items:center;
	background-color:green;
	margin:0px;
	padding:0px;
	display:flex;
	flex-wrap:wrap;
	border:7px solid white;
	height:211px;
}
